*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-area{
    display: flex;
    justify-items: center;
        height: 480px;
}

#canvas {
    margin: auto;
    height: 480px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#game-control {
    width: 2000%;
    background-image: url("../img/gamebg.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 100%;
    animation: moveBackground 200s linear infinite;
}

/* .gamebg {
    width: 700px;
    height: 100%;
    position: absolute;
    object-fit: fill; */


    /* display: flex; */
    /* animation: moveBackground 40s linear infinite; */
/* } */

/* @keyframes moveBackground {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */

#plane{
    width: 100px;
    height: 50px;
    z-index: 1;
}

.game-action {
    width: 200px;
    margin: 50px auto;
}

#flyBtn {
    padding: 10px 40px;
    border: 3px solid rgb(202, 178, 161);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(223, 119, 0);
    color: white;
    font-size: 28px;
    font-weight: 500;
}

#flyBtn:active {
    background-color: rgb(255, 136, 0);
}

.enemy{
    position: absolute;
    width: 40px;
    height: 180px;
}