* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-area {
  display: flex;
  justify-items: center;
  height: 480px;
}

#canvas {
  margin: auto;
  height: 480px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#game-control {
  width: 2000%;
  background-image: url("../img/gamebg.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 100%;
  /* animation: moveBackground 200s linear infinite; */
}

/* .gamebg {
    width: 700px;
    height: 100%;
    position: absolute;
    object-fit: fill; */

/* display: flex; */
/* animation: moveBackground 40s linear infinite; */
/* } */

/* @keyframes moveBackground {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */

#plane {
  width: 80px;
  height: 40px;
  z-index: 1;
}

.game-action {
  width: 200px;
  margin: 50px auto;
}

#flyBtn {
  padding: 10px 40px;
  border: 3px solid rgb(202, 178, 161);
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(223, 119, 0);
  color: white;
  font-size: 28px;
  font-weight: 500;
  user-select: none;
}

#flyBtn:active {
  background-color: rgb(255, 136, 0);
}

#win-text {
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

.game-group {
  position: absolute;
}

.enemy {
  position: absolute;
  width: 50px;
  height: 270px;
}

#play-btn {
  background: url("../img/play.png");
  transition: 0.2s;
}
#play-btn:active {
  scale: 0.97;
}

#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#start-screen button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}
